body{
    text-align: center;
}

.Mondstadt, .Liyue, .Inazuma, .Sumeru, .Fontaine, .Natlan{
  position: relative;
  text-align: center;
  color: white;
}

.overlay{
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  opacity:1;
}

.mondstadt-description, .liyue-description, .inazuma-description, .sumeru-description, .fontaine-description, .natlan-description{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 768px) {
  .mondstadt-description img, 
  .liyue-description img, 
  .inazuma-description img, 
  .sumeru-description img, 
  .fontaine-description img, 
  .natlan-description img {
    height: 60px;
    width: 60px;
  }
  
  .mondstadt-description, 
  .liyue-description, 
  .inazuma-description, 
  .sumeru-description, 
  .fontaine-description, 
  .natlan-description {
    width: 90%;
    padding: 10px;
    font-size: 13px;
  }
}
